body{
    font-family:'Roboto', sans-serif;
    background-color: #ffffff;
    color:#434455;
    font-size:16px;
}

ul, ol{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6, p{
    margin: 0;
}

img{
    display: block;
    max-width: 100%;
    height:auto;
}

button {
    cursor: pointer;
}

.container {
    max-width:320px;
    padding: 0 16px;
    margin:0 auto;
}

/*-----------------HEADER--------------*/

.header{
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between; /*на mobile*/
}

.logo{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.header-logo {
    padding: 16px 0;
    display: block;
}

.header-logo .logo-part{
    color: #2e2f42;
}

.header-nav-list, .contacts {
    display: none;
}

.burger-btn {
    padding: 0;
    border: none;
    background-color: transparent;
}

.burger-icon {
    display: block;
    fill: #2f2f37;
}

/*--------------MOBILE MENU--------------*/

.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.mobile-menu-container {
    position: relative;
    padding-top: 72px;
    padding-bottom: 40px;

    display: flex;
    flex-direction: column;
    height: 100%;
}

.mobile-menu-close {
    position: absolute;
    top: 24px;
    right: 24px;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;

    border-radius: 50%;
    background-color: #ffffff;
    border: 1px solid #e7e9fc;
}

.mobile-menu-close-icon {
    fill: #2e2f42;
}

.mobile-menu-nav {
    margin-bottom: auto;
}

.mobile-menu-nav-list{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.mobile-menu-nav-link {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.12;
    letter-spacing: 0.02em;
    color: #2e2f42;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-nav-link:focus, .mobile-menu-nav-link:hover {
    color: #404bbf;
}

.mobile-menu-contacts {
    font-style: normal;
    display: block;
}

.mobile-menu-contacts-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 48px;
}

.mobile-menu-contacts-link {
    display: block;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-contacts-link:hover, .mobile-menu-contacts-link:focus {
    color: #4d5ae5;
}

.mobile-menu-soc-list {
    display: flex;
    gap: 40px;
    width: 280px;
    height: 40px;
}

.mobile-menu-soc-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: #4d5ae5;
    border-radius: 50%;
}

.mobile-menu-soc-icon {
    fill: #f4f4fd;
}


/*-----------------HERO--------------*/

.hero{
    background-color: #2e2f42;
    padding: 72px 52px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
     rgba(46, 47, 66, 0.7)), 
    url(../images/hero/hero-mob.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    max-width: 320px;
    margin: 0 auto;
}

@media screen and (min-resolution: 2x), (-webkit-min-device-pixel-ratio:2x) {
    .hero{
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                    rgba(46, 47, 66, 0.7)),
                url(../images/hero/hero-mob@2x.jpg);
    }
}

.hero-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.12;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    max-width: 496px;
    margin: 0 auto;
    margin-bottom: 72px;
    
}

.hero-button{
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background-color: #4d5ae5;
    cursor:pointer;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    display:block;
    margin: 0 auto;
    border-radius: 4px;
    border:none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus{
background-color:#404bbf;
}

/*-----------------FEATURES--------------*/
.features{
    padding-top: 96px;
    padding-bottom: 96px;
}

.visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.features-list {
    display: flex;
    flex-wrap: wrap;
    gap: 72px;
    justify-content: center;
}

.features-svg{
    display: none;
}

.features-item {
    flex-basis: 100%;
}

.features-subtitle{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.12;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;
}

.features-item-text{
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/*-----------------TEAM--PORTFOLIO--------------*/

.team, .portfolio{
    padding-top: 96px;
    padding-bottom: 96px;
}

.team{
    background-color: #f4f4fd;
}

.team-title,
.portfolio-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.12;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}

.team-list{
    display: flex;
    flex-wrap:wrap;
    gap: 72px;
}

.team-item{
    background-color: #ffffff;
    margin:0 auto;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team-info {
    padding: 32px 0;
}

.team-name,
.portfolio-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 8px;
}

.team-name,
.team-item-text {
    text-align: center;
    margin-bottom: 8px;
}

.team-item-text,
.portfolio-item-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.team-svg-list{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    max-width: 232px;
    margin: 0 auto;
}

.team-svg-item{
    flex-basis: calc((100% - 24px *3) / 4);
    width: 40px;
    height: 40px;
}

.team-svg-link{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-svg-link:hover,
.team-svg-link:focus{
    background-color: #404bbf;
}

.team-svg-icon{
    fill:#f4f4fd;
}

.portfolio-list{
    display: flex;
    flex-wrap: wrap;
    gap: 48px;
}

.portfolio-item{
    flex-basis: 100%;
    border: 1px solid #e7e9fc;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.thumb{
    position: relative;
    overflow: hidden;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    background-color: #4d5ae5;
    padding: 40px 32px;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover .overlay,
.portfolio-item:focus .overlay{
    transform: translateY(0);
}

.portfolio-item:hover,
.portfolio-item:focus{
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-info{
    border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;
    padding: 32px 16px;
}

/*-----------------PAGE-FOOTER--------------*/

.page-footer{
    background-color: #2e2f42;
    padding-top: 100px;
    padding-bottom: 100px;
}

.container.footer-container{
    display: flex;
    justify-content: center;
    flex-wrap:wrap;
    gap: 72px;
}

.footer-left{
    max-width: 288px;
}

.footer-logo .logo-part{
    color: #f4f4fd;
}

.footer-logo{
    display: block;
    max-width: 116px;
    margin: 0 auto;
    margin-bottom: 16px;
}

.footer-text{
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}

/* .container.footer-container .footer-social{
    align-self: start;
} */

.footer-social-title{
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    text-align: center;
    margin-bottom: 16px;
}

.footer-social-list {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 208px;
    gap: 16px;
}

.footer-social-item{
    flex-basis: calc((100% - 16px * 3) / 4);
    width: 40px;
    height: 40px;
}

.footer-social-link{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4d5ae5;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-svg-icon {
    fill:#f4f4fd;
}

.footer-social-link:hover, 
.footer-social-link:focus{
    background-color: #31d0aa;
}

/* .footer-right {
    margin-left: auto;
} */

.footer-right-text{
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
    text-align: center;
}

.footer-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
}

.footer-input {
    border: 1px solid #fff;
    border-radius: 4px;
    width: 288px;
    height: 40px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    opacity: 0.3;
    background-color: transparent;

    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    padding-left: 16px;
    color:#ffffff;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-input::placeholder{
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #ffffff;
    padding-top: 8px;
    padding-bottom: 8px;
}

.footer-input:focus,
.footer-input:hover{
    outline:none;
    border-color: #31d0aa;
}

.footer-btn{
    border-radius: 4px;
    padding: 8px 24px;
    background-color: #4d5ae5;
    border:none;
    width: 165px;
    height: 40px;

    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-btn:hover, .footer-btn:focus{
    background-color: #31d0aa;
}

.footer-btn-icon{
    fill:#fff;
    margin-left: 16px;
}

/*--------------------MODAL--------------------------------------*/

.backdrop{
    position: fixed;
    top: 0;
    left: 0;

    background-color: rgba(46, 47, 66, 0.4);
    width: 100%;
    height: 100%;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open{
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal {
    width: 288px;
    min-height: 623px;
    padding: 72px 16px 24px 16px;
    background-color: #fcfcfc;
    border-radius: 4px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
   
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop:not(.is-open) .modal {
    transform: translate(-50%, -150%);
}

.modal-btn{
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    padding: 0;

    position: absolute;
    top: 24px;
    right: 24px;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover, .modal-btn:focus {
    background-color: #404bbf;
    border: none;
}

.modal-btn-icon{
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover .modal-btn-icon,
.modal-btn:focus .modal-btn-icon {
    fill:#fff;
}

.modal-title{
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 16px;
}

.modal-input-field {
    margin-bottom: 8px;
}

.modal-input-field.textarea{
    margin-bottom: 16px;
}

.modal-input-label{
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    margin-bottom: 4px;

    display: block;
}

.input-wrapper{
    position: relative;
}

.modal-input{
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    outline: transparent;
    padding-left: 38px;
    background-color: transparent;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input-icon {
    fill: #2e2f42;
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
    border-color: #4d5ae5;
    outline:none;
}

.modal-input:focus + .modal-input-icon {
    fill: #4d5ae5;
}


.modal-textarea{
    resize: none;
    width: 100%;
    height: 120px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;

    background-color: transparent;
    outline: transparent;

    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    padding: 8px 16px;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea::placeholder{
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
}

.modal-textarea:focus{
    border-color: #4D5AE5;
}

.modal-input-field.checkbox{
    margin-bottom: 24px;
}

.modal-check-text{
    display: flex;
    align-items: center;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}

.privacy-link{
    line-height: 1.34;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #4d5ae5;
}

.modal-check-item{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;

    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    margin-right: 8px;

    fill:transparent;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-check:checked + .modal-check-text > .modal-check-item{
    background-color: #404bbf;
    border: none;
    fill:#f4f4fd;
}

.modal-submit-btn{
    border-radius: 4px;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    border: none;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: #4d5ae5;
    display: block;
    margin: 0 auto;

    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
}

.modal-submit-btn:hover,
.modal-submit-btn:focus{
    background-color: #404bbf;
}


/*----------------MEDIA-QIERIES------------------*/
/*--------TABLET---------*/
@media (min-width:768px){

    /*---general tablet---*/
    .container {
        max-width: 768px;
        /* padding-left: 108px;
        padding-right: 108px; */
    }

    /*---header tablet---*/
    .burger-btn {
        display: none;
    }

    .header-nav {
        display: flex;
        align-items: center;
    }

    .header-nav-list {
        display: flex;
        align-items: center;
        gap: 40px;
    }

    .header-logo {
        padding: 24px 0;
        margin-right: 120px;
    }

    .header-nav-link {
        padding: 24px 0;
        display: block;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    .header-nav-link.current {
        position: relative;
        color: #404bbf;
    }
    
    .header-nav-link.current::after {
        content: "";
        width: 100%;
        height: 4px;
        background-color: #404bbf;
        border-radius: 2px;
        position: absolute;
        bottom: -1px;
        left: 0;
    }

    .contacts {
        font-style: normal;
        display: block;
    }

    .contacts-list {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    .contacts-link {
        display: block;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: #434455;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .header-nav-link:hover,
    .header-nav-link:focus,
    .contacts-link:hover,
    .contacts-link:focus {
        color: #404bbf;
    }

    /*---hero tablet---*/
    .hero{
        padding: 112px 28px;
        max-width: 768px;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                    rgba(46, 47, 66, 0.7)),
                url(../images/hero/hero-tab.jpg);
    }

    @media screen and (min-resolution:2x), (-webkit-min-device-pixel-ratio:2x) {
        .hero {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                        rgba(46, 47, 66, 0.7)),
                    url(../images/hero/hero-tab@2x.jpg);
        }
    }

    .hero-title{
        margin-bottom: 36px;
        font-size: 56px;
        line-height: 1.07;
    }

    /*---features tablet---*/
    .features-list {
        gap: 72px 24px;
    }

    .features-item {
        flex-basis: calc((100% - 24px) / 2);
    }

    .features-subtitle {
        text-align: start;
    }


    /*---team tablet---*/
    .team-container{
        max-width: 552px;
    }

    .team-list{
        gap: 64px 24px;
    }

    .team-item{
        flex-basis: calc((100% - 24px) / 2);
    }

    /*---portfolio-tablet---*/
    .portfolio-list{
        gap: 72px 24px;
    }

    .portfolio-item {
        flex-basis: calc((100% - 24px) / 2);
    }

    /*---footer tablet---*/
    
    .container.footer-container{
        max-width: 552px;
        gap: 72px 24px;
        justify-content:left;
    }

    .footer-left {
         /* margin-right: 120px; */
         max-width: 264px;
    }

    .footer-logo {
        margin-left: 0;
    }

    .footer-social-title {
        text-align: start;
    }

    .footer-right {
        margin-left: 0;
    }

    .footer-right-text{
        text-align: start;
    }

    .footer-form {
        gap: 24px;
    }

    .footer-input {
        width: 264px;
    }

    /*---modal tablet---*/
    .modal {
        width: 408px;
        min-height: 584px;
        padding: 72px 24px 24px;
    }

    /*---mobile menu---*/
    .mobile-menu {
        display: none;
    }
}

/*-------DESKTOP-----------*/
@media (min-width:1158px) {
    .container {
        max-width: 1158px;
        padding: 0 15px;
    }

    .header-logo {
        margin-right: 76px;
    }

    .contacts-list {
        flex-direction: row;
        align-items: center;
        gap: 40px;
    }
  
    .contacts-link{
        padding: 24px 0;
        line-height: 1.5;
        letter-spacing: 0.02em;
    }

    /*---hero desktop---*/
    .hero{
        padding: 188px 0;
        max-width: 1440px;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                    rgba(46, 47, 66, 0.7)),
                url(../images/hero/hero-desk.jpg);
    }

    @media screen and (min-resolution:2x), (-webkit-min-device-pixel-ratio:2x) {
        .hero {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                        rgba(46, 47, 66, 0.7)),
                    url(../images/hero/hero-desk@2x.jpg);
        }
    }

    .hero-title {
        margin-bottom: 48px;
    }
    
    /*---features desktop---*/
    .features {
        padding-top: 120px;
        padding-bottom: 120px;
    }
    
    .features-list {
        gap: 24px;
    }

    .features-svg {
        border: 1px solid #8e8f99;
        border-radius: 4px;
        height: 112px;
        background-color: #f4f4fd;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 8px;
    }

    .features-item {
        flex-basis: calc((100% - 24px * 3) / 4);
    }

    .features-subtitle {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
    }

    .team,
    .portfolio {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .team-list{
        gap: 24px;
    }

    .team-item{
        flex-basis: calc((100% - 24px * 3) / 4);
    }

    .portfolio-list{
        gap: 48px 24px;
    }

    .portfolio-item{
        flex-basis: calc((100% - 24px *2) / 3);
        box-shadow:none;
    }

    .container.footer-container {
        max-width: 1158px;
        align-items: baseline;
        gap: 0;
    }

    .footer-left {
        margin-right: 120px;
    }

    .footer-text {
        max-width: 264px;
    }

    .footer-right{
        margin-left: auto;
    }

    /* .footer-form {
        gap: 24px;
    } */

    .footer-input {
        width: 264px;
        /* margin-right: 24px; */
    }

    .footer-btn {
        min-width: 165px;
        margin-left: auto;
    }
}